.sidebar
  position: fixed
  z-index: 10
  bottom: 0
  width: 100%
  padding: 0.5rem 1.75rem
  display: flex
  justify-content: center
  border-top: 1px Solid #000

.sidebar-content
  width: 100%
  display: flex
  justify-content: space-between

.sidebar-brand,
.sidebar-content-extra
  display: none

.sidebar-link
  display: flex
  align-items: center

.sidebar-title
  display: none

.sidebar-icon,
.sidebar-logo-sm
  width: 1.75rem

.sidebar-logo-sm:hover
  cursor: pointer

.sidebar-logo
  display: none

@media only screen and (min-width: 768px)
  .sidebar
    position: sticky
    top: 0
    left: 0
    bottom: initial
    width: fit-content
    padding: 1.75rem
    flex-direction: column
    justify-content: space-between
    border-top: none
    border-right: 1px Solid #000

  .sidebar-brand
    margin-bottom: 3rem
    display: flex
    justify-content: center

  .sidebar-content
    height: 100%
    flex-direction: column
    justify-content: start
    gap: 1rem

  .sidebar-brand,
  .sidebar-content-extra
    display: flex

@media only screen and (min-width: 1024px)
  .sidebar-link
    gap: 12px

  .sidebar-title
    display: inline

  .sidebar-logo-sm
    display: none

  .sidebar-logo
    display: inline
    height: 1.75rem // If you change this for width: ; , it'll break :v
