@import ../utils/_mixins

#instagram-profile
  width: 100%
  margin-bottom: 1.25rem

.profile
  width: 100%
  @include flex-row()
  gap: 1.75rem
  margin-bottom: 1.25rem

.profile-pic-container
  @include flex-row(center, center)

.profile-info
  width: 100%
  @include flex-col()
  gap: 12px

.profile-row
  @include flex-row()
  gap: 12px

.desktop-statistics,
.desktop-bio
  display: none

.profile-pic
  width: 77px
  border-radius: 50%

@media only screen and (min-width: 768px)
  .mobile-bio
    display: none

  .desktop-statistics,
  .desktop-bio
    display: block

  .desktop-statistics
    @include flex-row()
    gap: 12px

  .profile-pic
    width: 150px
