#mobile-statistics
  width: 100%

#mobile-statistics
  div
    display: flex
    justify-content: space-around
    padding: 1rem 0
    text-align: center
    border-top: 1px Solid #000
    border-bottom: 1px Solid #000

@media only screen and (min-width: 768px)
  #mobile-statistics
    display: none
